{% load staticfiles %}

<ul>
    <li ><img src="{% static "img/logo.gif" %}" alt="Logo" class="moveimage" /></li>
    <li class="{% if current_tab == 'home' %} current{% endif %}"><a href="{% url "home" %}">Home</a></li>
    <li>
        <a href="#">Our products</a>
        <ul>
            <li><a href="#">Composite Planks</a></li>
            <li><a href="#">Composite Terraces</a></li>
            <li>
                <a href="#">Submenu</a>
                <ul>
                    <li><a href="#">Lorem dolor</a></li>
                    <li><a href="#">Phasellus magna</a></li>
                    <li><a href="#">Magna phasellus</a></li>
                    <li><a href="#">Etiam nisl</a></li>
                    <li><a href="#">Veroeros feugiat</a></li>
                </ul>
            </li>
            <li><a href="#">Veroeros feugiat</a></li>
        </ul>
    </li>
    <li class="{% if current_tab == 'calculator' %} current{% endif %}"><a href="{% url "calculator" %}">Calculator</a></li>
    <li class="{% if current_tab == 'about' %} current{% endif %}"><a href="{% url "about" %}">About Us</a></li>
    <li><a href="two-sidebar.html">Two Sidebar</a></li>
    <li><a href="no-sidebar.html">No Sidebar</a></li>
</ul>