<section class="wrapper style1">
    <div class="container">
        <div class="row 200%">
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major fa-clock-o"></i>
                    <h3>Always On Time</h3>
                    <p>To be In Time as well as On Time is our motto. Satisfaction of our clients and immediate delivery is what makes us a company of your needs.</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major fa-language"></i>
                    <h3>Multilanguage Support</h3>
                    <p>We offer support in languages such as Swedish, Danish, English, German, Polish and Russian. Do not hesitate to contact us.</p>
                </div>
            </section>
            <section class="4u 12u(narrower)">
                <div class="box highlight">
                    <i class="icon major fa-leaf"></i>
                    <h3>Ecology</h3>
                    <p>Our products are 100% eco.</p>
                </div>
            </section>
        </div>
    </div>
</section>